body{
    padding: 0px;
    margin: 0px;
    background-color: #dddddd;
}

#left{
    float: left;
    text-align: right;
    position: absolute;
    left: 15%;
}

#right{
    position: absolute;
    right: 15%;
    top: 5%;
}

img{
    width: 70%;
    height: 70%;
    display: block;
}

.white-ramka{
    background-color:  white;
    border: 1px solid #dddddd;
    border-radius: 1px;
    text-align: center;
    padding: 2% 5%;
    margin: 2% 5%;
}

.white-ramka h1{
    font-family: cursive;
    font-weight: bold;
    font-size: xx-large;
}

.white-ramka h2, .white-ramka h3{
    color: #b5b5b5;
    font-family: sans-serif;
}

.white-ramka h2{
    font-size: medium;
}

.white-ramka h3{
    font-size: small;
}

input{
    margin: 10px 0px;
    width: 66%;
    padding: 1%;
    border-radius: 3px;
    border: 1px solid #b5b5b5;
    background-color: #dddddd;
}


.button{
    color: white;
    background-color: dodgerblue;
    border-radius: 5px;
    border: none;
    padding: 3% 15%;
    width:  70%;
}

footer{
    background-color: white;
    width: 100%;
    padding: auto 10%;
    margin: 0px;
    position: absolute;
    display: block;
    bottom: 0;
    height: 100px;
}