img{
  width: 300px;
  height: 300px;
}

.product{
  display: flex;
  justify-content: space-between;
  background-color: #5f79ff;
  margin: 20px;
  border-radius: 5px;
}

.product img{
  border: #0542ff solid 2px;
  margin: 20px 20px;
}

.product-text{
  margin: 20px;
  padding: 10px 20px;
  background-color: #6ec0ff;
  border: #5f79ff dashed 2px;
}

a{
  text-decoration: none;
}

a:visited{
}
