<br>
<br>
<br>
<br>
<br>

<div *ngFor="let prd of products ">
  <div class="product">
    <img *ngIf="prd.imagesLinks" [src]="prd.imagesLinks" [alt]="prd.name">
    <div class="product-text">
      <a [href]="prd.link">
        <h3>{{prd.name}}</h3>
      </a>
      <p>
        <span *ngIf="prd.rating != 0">Rating: {{prd.rating}}<br></span>
        <span>Price: {{prd.price}} tenge <br></span>
        Actually, products from aliexpress do not have regular description, it is in a table form.
        I did not have time to implement a table so just enjoy this fine description.
      </p>
    </div>
  </div>
</div>
